<div class="container pt-5 text-center">
  <h1 class="mt-5">Stupid Coach</h1>
  <div class="d-flex justify-content-center">
    <form action="/answer" data-turbo="false">
      <p>Ask your coach anything:</p>
      <div class="input-group">
        <input class="form-control" type="text" id="question" name="question" placeholder="Enter your question..">
        <input type="submit" class="btn btn-primary" value="Ask!">
      </div>
    </form>
  </div>
</div>
